* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::root {
    font-size: 65.2%
}

.ligar {
    padding: 1.6rem;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.boxmode {
    opacity: 0;
    position: absolute;
}

.label {
    box-shadow: inset -.2rem .2rem .6rem black, inset .2rem -.2rem .6rem black;
    background: #525252;
    border-radius: 4rem;
    cursor: pointer;
    display: flex;

    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    padding: .5rem;
    width: 4rem;
    height: 2rem;
    transform: scale(1.5);
}

.label.dark {
    box-shadow: inset -.2rem .2rem .6rem black, inset .2rem -.2rem .6rem black;
    background: #dedede;
    border-radius: 4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    padding: .5rem;
    width: 4rem;
    height: 2rem;
    transform: scale(1.5);
}

.boxmode:checked+.label .ball {
    transform: translateX(1.7rem);
}

.body {
    transition: background 2s linear;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(45deg,#3f7192, #D3DEDC);
    align-items: center;
}

.calculadora {
    position: relative;
    transition: background 1s linear;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    align-items: center;
    background: #7C99AC;
    border: none;
    height: 39.5rem;
    width: 24.5rem;
    box-shadow: -.2rem .2rem .6rem, inset .2rem -.2rem .6rem, -.2rem .2rem .6rem,
        -.2rem .2rem .6rem;
}

.result {
    transition: background 1s linear;
    font-family: monospace;
    background: #d9d9d9;
    border: none;
    padding: 0.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.5rem;
    border-radius: .6rem;
    height: 3.5rem;
    width: 22rem;
    margin-top: 2rem;
    box-shadow: inset .3rem .3rem .4rem, inset 0rem 0rem .6rem, inset -.3rem -.3rem .4rem;
}

.teclas {
    position: absolute;
    bottom: 4rem;
    transition: background 1s linear;
    background: #D3DEDC;
    border-radius: .6rem;
    display: flex;
    justify-content: center;
    padding: 1.6rem;
    margin-top: 2rem;
    border: none;
    height: 27.0rem;
    width: 20rem;
    gap: 1.0rem;
    box-shadow: -.2rem .2rem .6rem, inset .2rem -.2rem .6rem;
}

.tbt {
    display: flex;
    gap: 1.0rem;
}

.numbs {
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
}

.opera {
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
}

.bt,
.op,
.li,
.pa,
.i {
    transition: all 1.5s linear;
    color: black;
    display: flex;
    background: #FFEFEF;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    height: 4rem;
    width: 3.5rem;
    border-radius: .6rem;
    border: none;
    box-shadow: -.2rem .2rem .6rem black, inset .2rem -.2rem .6rem black;
}

.bt:active,
.op:active,
.li:active,
.pa:active,
.i:active {
    box-shadow: inset 0rem 0rem .6rem .3rem black;

}

.bt.dark:active,
.op.dark:active,
.li.dark:active,
.pa.dark:active,
.i:active {
    box-shadow: inset 0rem 0rem .6rem .3rem black;

}

.bt.dark,
.op.dark,
.li.dark,
.pa.dark,
.i.dark {
    transition: background 1.5s linear;
    color: #00ff15;
    text-shadow: .1rem .1rem .4rem #00ff15, .1rem .1rem .2rem #00ff15;
    display: flex;
    background: #151515;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    height: 4rem;
    width: 3.5rem;
    border-radius: .6rem;
    border: none;
    box-shadow: -.2rem .2rem .6rem black, inset .2rem -.2rem .6rem black;
}

.teclas.dark {
    position: absolute;
    bottom: 4rem;
    transition: background 1.5s linear;
    background: #333;
    border-radius: .6rem;
    display: flex;
    justify-content: center;
    padding: 1.6rem;
    margin-top: 2rem;
    border: none;
    height: 27.0rem;
    width: 20rem;
    gap: 1.0rem;
    box-shadow: -.2rem .2rem .6rem, inset .2rem -.2rem .6rem;
}

.result.dark {
    font-family: monospace;
    background: #368f3d;
    border: none;
    padding: 0.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.5rem;
    border-radius: .6rem;
    height: 3.5rem;
    width: 22rem;
    margin-top: 2rem;
    box-shadow: inset .3rem .3rem .4rem, inset 0rem 0rem .6rem, inset -.3rem -.3rem .4rem;
    transition: background 1.5s linear;
}

.body.dark {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(#333,#000);
    align-items: center;
    transition: background 1s linear;
}

.calculadora.dark {
    transition: background 1.5s linear;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    align-items: center;
    background: #0c0c0c;
    border: none;
    height: 39.5rem;
    width: 24.5rem;
    
}

.calculadora.dark::before,
.calculadora.dark::after {
    content: "";
    position: absolute;
    top: -.2rem;
    left: -.3rem;
    transition: all 0.5s linear;
    background: linear-gradient(45deg, #00ff08, #00c206, #00ac06, #006b04, #005503, #003d02, #002a01, #000000);
    width: calc(100% + .5rem);
    height: calc(100% + .5rem); 
    border-radius: 1rem;
    background-size: 300%;
    background-position: 100%;
    z-index: -1;
    animation: anime 8s infinite alternate 2s;
}

@keyframes anime {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 300%;
    }

}

.calculadora.dark::after {
    filter: blur(.6rem);
}

.label .ball.dark {
    background: #000000;
    border-radius: 100%;
    position: absolute;
    top: .2rem;
    left: .2rem;
    width: 1.6rem;
    height: 1.6rem;
    transform: translateX(0rem);
    transition: all 0.5s linear;
}

.label .ball {
    background: #ffffff;
    border-radius: 100%;
    position: absolute;
    top: .2rem;
    left: .2rem;
    width: 1.6rem;
    height: 1.6rem;
    transform: translateX(0rem);
    transition: all 0.5s linear;
}

.fa-sun {
    color: #7C99AC;
}

.fa-moon {
    color: #00ff08;
}