*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::root{
    font-size: 65.2%
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(15deg, #7C99AC, #FFEFEF);
    align-items: center;
}
.calculadora{
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    align-items: center;
    background: #7C99AC;
    border: none;
    height: 36.5rem;
    width: 24.5rem;
    box-shadow: -.2rem .2rem .6rem, inset .2rem -.2rem .6rem,-.2rem .2rem .6rem,
    -.2rem .2rem .6rem;
}
.result{
    font-family: monospace;
    background: #d9d9d9;
    border: none;
    padding: 0.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.5rem;
    border-radius: .6rem;
    height: 3.5rem;
    width: 22rem;
    margin-top: 2rem;
    box-shadow: inset .3rem .3rem .4rem,inset 0rem 0rem .6rem,inset -.3rem -.3rem .4rem;
}
.teclas{
    background: #D3DEDC;
    border-radius: .6rem;
    display: flex;
    justify-content: center;
    padding: 1.6rem;
    margin-top: 2rem;
    border: none;
    height: 27.0rem;
    width: 20rem;
    gap: 1.0rem;
    box-shadow: -.2rem .2rem .6rem, inset .2rem -.2rem .6rem;
}
.tbt{
    display: flex;
    gap: 1.0rem;
}
.numbs{
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
}
.opera{
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
}
.bt, .op, .li, .pa, .i{
    color: black;
    display: flex;
    background: #FFEFEF;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    height: 4rem;
    width: 3.5rem;
    border-radius: .6rem;
    border: none;
    box-shadow: -.2rem .2rem .6rem black, inset .2rem -.2rem .6rem black;
}
.bt:active ,.op:active, .li:active, .pa:active, .i:active{
    box-shadow: inset 0rem 0rem .6rem .3rem black;
    
}